@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Play', sans-serif;

  margin: 0 80px;
  @media(max-width: 768px) {
    margin: 0 16px;
  }
}

.wrapper {
  overflow: hidden;
}

.title32px {
    @apply text-[32px] font-bold text-center;
}
  
.wrapper {
    @apply flex gap-[40px] justify-center flex-wrap mt-[40px];
}

